/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
  --fixed-width: 450px;
  --clr-orange-1: hsl(12, 83%, 98%);
  --clr-orange-2: hsl(14, 91%, 95%);
  --clr-orange-3: hsl(12, 89%, 89%);
  --clr-orange-4: hsl(13, 87%, 82%);
  --clr-orange-5: hsl(13, 88%, 68%);
  --clr-orange-6: hsl(13, 88%, 55%);
  --clr-orange-7: hsl(13, 74%, 49%);
  --clr-orange-8: hsl(13, 74%, 33%);
  --clr-orange-9: hsl(13, 73%, 25%);
  --clr-orange-10: hsl(13, 73%, 16%);
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

.bloc-tabs {
  top: 0px;
  z-index: 2;
  position: fixed;
  display: grid;
  align-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
}

.bloc-tabs-3 {
  top: 0px;
  z-index: 2;
  position: fixed;
  display: grid;
  align-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
}

.tab {
  display: block;
  background-color: var(--clr-primary-3);
  border: none;
  height: 5rem;
  color: #fff;
}

.active-tab {
  background-color: var(--clr-primary-3);
  font-size: 0.8rem;
  font-weight: 750;
  color: #fff;
}

.leagues {
  font-size: 0.8rem;
  width: 90vw;
  max-width: 1170px;
  margin: 7rem auto;
  display: grid;
  gap: 2rem;
}

.past-events {
  font-size: 0.8rem;
  width: 90vw;
  max-width: 1170px;
  margin: 7rem auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-auto-flow: row;
  gap: 2rem;
}

.all-seasons {
  font-size: 0.8rem;
  width: 90vw;
  max-width: 1170px;
  margin: 7rem auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-auto-flow: row;
  gap: 2rem;
}

.event-card {
  background-color: var(--clr-white);
  border-radius: 0.75rem;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
  height: 22rem;
}

.season-card {
  background-color: var(--clr-white);
  border-radius: 0.75rem;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
  text-align: center;
  padding: 1rem;
}
.event-card img {
  width: 100%;
  height: auto;
}

.event-info {
  margin: 0.2rem 1rem 0rem 1rem;
}

img {
  width: 100%;
  height: auto;
}

.container {
  margin: 1rem;
}

.slider {
  background-color: lemonchiffon;
  height: 10rem;
  width: 10rem;
  overflow: hidden;
  transform: translateX(5);
}

@media screen and (min-width: 768px) {
  .leagues {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }

  .past-events {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .details {
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }

  .all-seasons {
    grid-template-columns: repeat(4, 1fr);
  }
}

.league {
  display: grid;
  background: #fff;
  border-radius: 0.5rem;
  padding: 2rem 2rem 1rem 2rem;
  height: 10rem;
  border: none;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.league-name {
  grid-column: 1/4;
}

.not-active {
  display: none;
}

.fav-icon {
  border: none;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-top: 0.55rem;
  float: right;
  grid-column: 3/4;
  color: tomato;
  border: 1px;
}

.white-bar-middle {
  height: 0.25rem;
  background-color: #fff;
  margin-top: -0.25rem;
  margin-left: 100%;
  width: 100%;
  animation-name: fade;
  animation-duration: 0.4s;
}

.white-barRight {
  height: 0.25rem;
  background-color: #fff;
  margin-top: -0.25rem;
  margin-left: 100%;
  width: 100%;
  animation-name: shiftRight;
  animation-duration: 0.2s;
}

.white-barLeft {
  height: 0.25rem;
  background-color: #fff;
  margin-top: -0.25rem;
  margin-left: 0;
  width: 100%;
  animation-name: shiftLeft;
  animation-duration: 0.2s;
}

.white-barRightest {
  height: 0.25rem;
  background-color: #fff;
  margin-top: -0.25rem;
  margin-left: 200%;
  width: 100%;
  animation-name: shiftRightest;
  animation-duration: 0.4s;
}

@keyframes shiftRight {
  0% {
    margin-left: 0%;
    width: 100%;
  }
  100% {
    margin-left: 100%;
    width: 100%;
  }
}

@keyframes fade {
  0% {
    margin-left: 100%;
    width: 100%;
    opacity: 0;
  }
  100% {
    margin-left: 100%;
    width: 100%;
    opacity: 1;
  }
}

@keyframes shiftRightest {
  0% {
    margin-left: 100%;
    width: 100%;
  }
  100% {
    margin-left: 200%;
    width: 100%;
  }
}

@keyframes shiftLeft {
  0% {
    margin-left: 100%;
    width: 100%;
  }
  100% {
    margin-left: 0%;
    width: 100%;
  }
}

a {
  font-size: 1.25rem;
  font-weight: 600;
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.back {
  position: absolute;
  color: #fff;
  margin-left: 1.5rem;
  font-size: 15px;
  margin-top: 1rem;
}
